body {
    margin: 0px;
       
}

.menu_lat {
    padding-left: 20px;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 180px;
    height: 600px;
    color: white;
}

       color: white;
}

.menu_lat a:hover{
    color: rgb(226, 7, 7);
}
.menu_lat a:visited{
    
    background-color: rgb(3, 59, 12);
}